@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e7ebe8;
}

.white-button {
  background-color: white;
  color: black; /* You can adjust the text color as needed */
  border: 1px solid #ccc; /* Add a border to make it more visually distinct */
  padding: 10px 20px; /* Adjust padding to your preference */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Add pointer cursor for better UX */
}
